# Домашнее задание 4

1. Сформируйте три номинальных признака х1, х2 и х3 (один из них, но не больше, может быть взят из Вашей таблицы данных)
2. Сформируйте две таблицы сопряженности, х1 и х2, х1 и х3. Постройте также матрицы условных вероятностей (х1 от х2 и х1 от х3), а также таблицы коэффициентов Кетле. Прокомментируйте связи между категориями х1 и категориями х2 и х3.
3. Вычислите и визуализируйте среднее значение индекса Кетле на построенных таблицах сопряженности.
4. Прокомментируйте смысл значений индекса Кетле на двух-трех примерах.

# Решение

In [1]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
import math

practice_data = pandas.read_csv('../data/RoadSafetyData_Accidents_2018.csv').filter(
    items=['Urban_or_Rural_Area', 'Number_of_Casualties', 'Time'])
practice_data.head()

   Urban_or_Rural_Area  Number_of_Casualties   Time
0                    1                     2  01:30
1                    1                     1  00:50
2                    1                     1  00:45
3                    1                     1  03:00
4                    1                     2  02:20

Признак Urban_or_Rural_Area - и так номанальный. 

Теперь сформируем два новых признака:


- Type_of_number_of_Casualties - этот признак выведем из признака Number_of_Casualties. типы:

    - 1(мало жертв), если жертва 1
    - 2(среднее количество жертв), если жертв 2 или 3
    - 3(большое количество жертв), если жертв больше 3


- Part_of_days - этот признак выведем из признака Time. Часть дня: 
    - 1(утро) с 5 до 12 часов
    - 2(день) с 12 до 22 часов
    - 3(ночь) с 22 до 5 часов

In [2]:
import time

def convert_time(x):
    t = time.strptime(x,'%H:%M')
    new_time = 1
    if t.tm_hour >= 12 and t.tm_hour < 22:
        new_time = 2
    if t.tm_hour >= 22 or t.tm_hour < 5:
        new_time = 3
    return new_time

def convert_Number_of_Casualties(x):
    if x == 1:
        return 1
    if x < 3:
        return 2
    return 3

In [3]:
practice_data['Part_of_days'] = practice_data['Time'].map(lambda x: convert_time(x))
practice_data['Type_of_number_of_Casualties'] = practice_data['Number_of_Casualties'].map(lambda x: convert_Number_of_Casualties(x))

In [4]:
del practice_data['Time']
del practice_data['Number_of_Casualties']

In [5]:
practice_data

      Urban_or_Rural_Area  Part_of_days  Type_of_number_of_Casualties
0                       1             3                             2
1                       1             3                             1
2                       1             3                             1
3                       1             3                             1
4                       1             3                             2
...                   ...           ...                           ...
1995                    1             2                             1
1996                    1             2                             1
1997                    1             3                             1
1998                    1             3                             1
1999                    1             3                             1

[2000 rows x 3 columns]

Новые признаки сформированы!